{% extends 'base.html.twig' %}
{% block title 'Nouveau Stagiaire ' %}
{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Pré-Inscription/création d'un Stagiaire</h1>
	        {{ include('stagiaire/_form.html.twig', {'submitButtonText': 'Créer Stagiaire'}) }}
        </div>
    </div>
{% endblock %}